<!DOCTYPE html>
<html>
<title>Cool Store</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../styles/cool-form.css">
<script type="text/javascript">


function refresh_checkout()
    {
      console.log('checkout run');

      //cart click AJAX START
      //$('cart').css('display','none');
      //$('.bg-modal').css("display", "none");
      //$('.product').css("display", "none");

      $.ajax({
        url: 'checkout/',
        type: 'POST',
        dataType: 'json', //will parse json into javascript object
        //callback called when suceed
        success: (data) => {
          console.log('ajax success!', data);

          var totalprice = parseFloat(0);
          var newCart = "";

          newCart += "<table class='table table-hover'>";
          //change 12:19
          newCart += "<tr>";
        newCart += "<td><strong>Customer Name</strong></td>";
        newCart += "<th><strong>Address</strong></td>";
        newCart += "<td><strong>Credit Card Number</strong></td>";
        newCart += "<td><strong>Username</strong></td>"
        newCart += "</tr>";
        newCart += "<tr>";
        newCart += "<td>"+ data[0].customer_name +"</td>";
        newCart += "<td>"+ data[0].address +"</td>";
        newCart += "<td>"+ data[0].cc_number +"</td>";
        newCart += "<td>"+ data[0].username +"</td>";
        newCart += "</tr>";


          // newCart += "<thead> <tr>";
          // newCart += "<th>Product Name</th>";
          // newCart += "<th>Description</th>";
          // newCart += "<th>Price</th>";
          // newCart += "<th>Action</th>";
          // newCart += "</tr></thead>";
          // newCart += "</tbody>";


          newCart += "<tr>";
        newCart += "<td><strong>Product Name</strong></td>";
        newCart += "<th><strong>Description</strong></td>";
        newCart += "<td><strong>Price</strong></td>";
        newCart += "<td><strong>Action </strong></td>"
        newCart += "</tr>";


          


          $.each(data, function (index, value) {

            newCart += "<tr>";
            newCart += "<td>"+ this.product_name +"</td>";
            newCart += "<td>"+ this.product_description + "</td>";
            newCart += "<td>" + "$" + this.price+ "</td>";
            newCart += "<td>";
            newCart += "<form action='/remove' method='POST' class='remover' onSubmit='return ajax_FormSubmitter(this);'><button type='submit' class='btn btn-danger' name='remove' value='" + this.customer_order_id + "'>REMOVE ITEM</button></form>";

            newCart += "</td>";
            newCart += "</tr>";

            totalprice += parseFloat(this.price);

            //newCart += this.product_name;

          });// END LOOP

          //added
        //var tax = 0;
           var tax = parseFloat(totalprice * .06);
          var total = tax + totalprice;


         //added
         newCart += "<tr>";
        newCart += "<td><strong>Cost</strong></td>";
        newCart += "<th><strong>Tax</strong></td>";
        newCart += "<td><strong>Total Price</strong></td>";
        newCart += "<td><strong>Action</strong></td>"
        newCart += "</tr>";
        newCart += "<tr> <td> $" + totalprice.toFixed(2) +  "</td>";
        newCart += "<td> $" + tax.toFixed(2) + "</td>";
        newCart += "<td> $" + total.toFixed(2) + " </td>";
        newCart += "<td>"+ "<button type='submit' id='done' class='btn btn-danger' onclick='confirm_checkout()' name='checkout' value='" + this.customer_order_id +"'>Confirm Order </button>" + "</td>";
        newCart += "<td>"+ "<button type='submit' id='cancel' class='btn btn-danger' onclick='closecheckout()' value='" + this.customer_order_id +"'>Cancel Order </button>" + "</td>";
        
        //added end

          newCart += "</tbody></table>";
          result = "";

          result = newCart;

          //select status id element display in html
          $('.editcheckout').html(result);

        }//sucess data call

      });//ajax function call
      //CART CLICK AJAX END



    }//cartPopup on click


function confirm_checkout()
    {
      console.log('checkout confirm');

      //cart click AJAX START
      //$('cart').css('display','none');
      //$('.bg-modal').css("display", "none");
      //$('.product').css("display", "none");

      $.ajax({
        url: 'confirm/',
        type: 'POST',
        dataType: 'json', //will parse json into javascript object
        //callback called when suceed
        success: (data) => {
          console.log('ajax success!', data);
          refresh_cart();

        
        //added end
          var newCart = '';

          newCart += "<p>Your Order has been confirmed!</p>";
          newCart += "<button type='submit' id='closer' class='btn btn-danger' onclick='closecheckout()' value='" + this.customer_order_id +"'>Close </button>"
          result = "";

          result = newCart;

          //select status id element display in html
          $('.editcheckout').html(result);

        }//sucess data call

      });//ajax function call
      //CART CLICK AJAX END





      //cartpopup

      //$('#id').css("display","block")
      $('.bg-modal-checkout').css("display", "flex");

      //Make page not scrollable at that moment ?????
      $('body').css("overflow", "hidden");
      $('html').css("overflow", "hidden");

    }//cartPopup on click




function closecheckout()
    {
      $('.bg-modal-checkout').css("display", "none");
      
      //Make page not scrollable at that moment 
      $('body').css("overflow", "visible");
      $('html').css("overflow", "visible");
    }

function checkout_run()
    {
      console.log('checkout run');

      //cart click AJAX START
      //$('cart').css('display','none');
      $('.bg-modal').css("display", "none");
      $('.product').css("display", "none");

      $.ajax({
        url: 'checkout/',
        type: 'POST',
        dataType: 'json', //will parse json into javascript object
        //callback called when suceed
        success: (data) => {
          console.log('ajax success!', data);

          var totalprice = parseFloat(0);
          var newCart = "";

          newCart += "<table class='table table-hover'>";
          //change 12:19
          newCart += "<tr>";
        newCart += "<td><strong>Customer Name</strong></td>";
        newCart += "<th><strong>Address</strong></td>";
        newCart += "<td><strong>Credit Card Number</strong></td>";
        newCart += "<td><strong>Username</strong></td>"
        newCart += "</tr>";
        newCart += "<tr>";
        newCart += "<td>"+ data[0].customer_name +"</td>";
        newCart += "<td>"+ data[0].address +"</td>";
        newCart += "<td>"+ data[0].cc_number +"</td>";
        newCart += "<td>"+ data[0].username +"</td>";
        newCart += "</tr>";


          // newCart += "<thead> <tr>";
          // newCart += "<th>Product Name</th>";
          // newCart += "<th>Description</th>";
          // newCart += "<th>Price</th>";
          // newCart += "<th>Action</th>";
          // newCart += "</tr></thead>";
          // newCart += "</tbody>";


          newCart += "<tr>";
        newCart += "<td><strong>Product Name</strong></td>";
        newCart += "<th><strong>Description</strong></td>";
        newCart += "<td><strong>Price</strong></td>";
        newCart += "<td><strong>Action </strong></td>"
        newCart += "</tr>";


          


          $.each(data, function (index, value) {

            newCart += "<tr>";
            newCart += "<td>"+ this.product_name +"</td>";
            newCart += "<td>"+ this.product_description + "</td>";
            newCart += "<td>" + "$" + this.price+ "</td>";
            newCart += "<td>";
            newCart += "<form action='/remove' method='POST' class='remover' onSubmit='return ajax_FormSubmitter(this);'><button type='submit' class='btn btn-danger' name='remove' value='" + this.customer_order_id + "'>REMOVE ITEM</button></form>";

            newCart += "</td>";
            newCart += "</tr>";

            totalprice += parseFloat(this.price);

            //newCart += this.product_name;

          });// END LOOP

          //added
        //var tax = 0;
           var tax = parseFloat(totalprice * .06);
          var total = tax + totalprice;


         //added
         newCart += "<tr>";
        newCart += "<td><strong>Cost</strong></td>";
        newCart += "<th><strong>Tax</strong></td>";
        newCart += "<td><strong>Total Price</strong></td>";
        newCart += "<td><strong>Action</strong></td>"
        newCart += "</tr>";
        newCart += "<tr> <td> $" + totalprice.toFixed(2) +  "</td>";
        newCart += "<td> $" + tax.toFixed(2) + "</td>";
        newCart += "<td> $" + total.toFixed(2) + " </td>";
        newCart += "<td>"+ "<button type='submit' id='done' class='btn btn-danger' onclick='confirm_checkout()' name='checkout' value='" + this.customer_order_id +"'>Confirm Order </button>" + "</td>";
        newCart += "<td>"+ "<button type='submit' id='cancel' class='btn btn-danger' onclick='closecheckout()' value='" + this.customer_order_id +"'>Cancel Order </button>" + "</td>";
        
        //added end

          newCart += "</tbody></table>";
          result = "";

          result = newCart;

          //select status id element display in html
          $('.editcheckout').html(result);

        }//sucess data call

      });//ajax function call
      //CART CLICK AJAX END





      //cartpopup

      //$('#id').css("display","block")
      $('.bg-modal-checkout').css("display", "flex");

      //Make page not scrollable at that moment ?????
      $('body').css("overflow", "hidden");
      $('html').css("overflow", "hidden");

    }//cartPopup on click



  //refresh cart....
  function refresh_cart() {

    console.log('cart refresh');

    //cart click AJAX START

    $.ajax({
      url: 'customer/',
      type: 'POST',
      dataType: 'json', //will parse json into javascript object
      //callback called when suceed
      success: (data) => {
        console.log('ajax success!', data);

        var totalprice = parseFloat(0);

        var newCart = "";

        newCart += "<table class='table table-hover'";
        newCart += "<thead> <tr>";
        newCart += "<th>Product Name</th>";
        newCart += "<th>Description</th>";
        newCart += "<th>Price</th>";
        newCart += "<th>Action</th>";
        newCart += "</tr></thead>";
        newCart += "</tbody>";

        $.each(data, function (index, value) {

          newCart += "<tr>";
          newCart += "<td>" + this.product_name + "</td>";
          newCart += "<td>" + this.product_description + "</td>";
          newCart += "<td>" + "$" + this.price + "</td>";
          newCart += "<td>";
          newCart += "<form action='/remove' method='POST' onSubmit='return ajax_FormSubmitter(this);'><button type='submit' class='btn btn-danger' name='remove' value='" + this.customer_order_id + "'>REMOVE ITEM</button></form>";

          newCart += "</td>";
          newCart += "</tr>";

          totalprice += parseFloat(this.price);

          //newCart += this.product_name;

        });// END LOOP

        //added
        var tax = 0;
          var tax = parseFloat(totalprice * .06);
          var total = tax + totalprice;


         //added
         newCart += "<tr>";
        newCart += "<td><strong>Cost</strong></td>";
        newCart += "<th><strong>Tax</strong></td>";
        newCart += "<td><strong>Total Price</strong></td>";
        newCart += "<td><strong>Action</strong></td>"
        newCart += "</tr>";
        newCart += "<tr> <td> $ " + totalprice.toFixed(2) +  "</td>";
        newCart += "<td> $" + tax.toFixed(2)  + " </td>";
        newCart += "<td> $" + total.toFixed(2)  + " </td>";
        newCart += "<td>"+  "<button type='button' class='btn btn-danger' name='remove' onclick='checkout_run()' id='checkout' value='" + this.customer_order_id +"'>CHECKOUT </button>" + "</td>";
        
        //added end

        newCart += "</tbody></table>";
        result = "";

        result = newCart;

        //select status id element display in html
        console.log('changed edit html');
        $('.edit').html(result);

      }//sucess data call
    });
  }

  function ajax_FormSubmitter(form) {

    console.log('running ajax form submit');


    //store form in form variable

    var $that = $(form);
    var that = $that;
    url = that.attr('action'),
      type = that.attr('method'),
      data = {};

    if (that.attr('class') == 'remover') {
      console.log('Is a remover button!!!');
      refresh_cart();

      //bg-modal
      //commented out
      // $('.bg-modal').css("display", "none");
      // $('body').css("overflow", "visible");
      // $('html').css("overflow", "visible");

      // $('.bg-modal').css("display", "flex");
      // $('body').css("overflow", "hidden");
      // $('html').css("overflow", "hidden");

      //Make page not scrollable at that moment 

    }

  



    //find anything with attribute name
    that.find('[name]').each(function (index, value) {

      var that = $(this),
        name = that.attr('name'),
        value = that.val();


      data[name] = value;
    });

    $.ajax({
      url: url,
      type: type,
      data: data,
      success: function (response) {
        console.log(response);
        console.log("Ajax success on cart :)");
        //use success callback to referesh cart
        refresh_cart();
        refresh_checkout();
        if (url == '/add_cart') {

          console.log('added_cart');
          $('.bg-modal').css("display", "none");
          $('.product').css("display", "none");
          //Make page not scrollable at that moment 
          $('body').css("overflow", "visible");
          $('html').css("overflow", "visible");

        }

      }
    });



    // this causes the form not to submit 
    return false;
  }



  function item_popup(item_element) {
    console.log("this is my element I clicked on");
    console.log(item_element);


    console.log("Outputting Item_element.value below: ");

    myitemvalue = item_element.getAttribute('value');
    //var product=document.getElementById('prod1').getAttribute('value');
    console.log(myitemvalue);

    $.ajax({
      url: 'single_item/',
      type: 'POST',
      data: { query_id: myitemvalue },
      success: function (response) {
        console.log(response);
        console.log("Ajax success on product_popup :)");
        //use success callback to referesh cart
        console.log(myitemvalue);


        //make result html here
        var popupinfo = "";



      ///
      // <div class="w3-display-container"><div class="w3-display-topleft w3-black w3-padding">Iphone 6S $99.99</div>
      // <img src="images/phone.jpg" class="tint" alt="Iphone 6S" style="width:100%" value="1" onclick="item_popup(this)">
      // </img></div>




        
        popupinfo += "<img src='" + response[0].picture + "' class='item_image' alt ='" + response[0].product_name + "'>";
        popupinfo += "<p class='item_text'>"+ response[0].product_name +' '+'$' + response[0].price + " </p>";
        popupinfo += "<form action='/add_cart' method='POST' onSubmit='return ajax_FormSubmitter(this);'>";
        popupinfo += "<button class='single_item_button' type='submit' value='" + response[0].product_id + "' name='id' id='add_cart'> Add To Cart</button> </form>";



        $('#product_popup').html(popupinfo);

        $('.product').css("display", "flex");
        //make page non-scrollable
        $('body').css("overflow", "hidden");
        $('html').css("overflow", "hidden");


      }
    });



    ////DO AJAX for SINGLE_ITEM


    //SUCCESS

    ///Make Box Show up...

    //no scroll

  }

  //anonymous function jquery
  $(document).ready(() => {




    //remove_form_for 
    $('.remove_form').on("submit", function () {



      console.log('running remove ajax_form submit');


      //store form in form variable
      var that = $(this),
        url = that.attr('action'),
        type = that.attr('method'),
        data = {};

      //find anything with attribute name
      that.find('[name]').each(function (index, value) {

        var that = $(this),
          name = that.attr('name'),
          value = that.val();

        data[name] = value;
      });

      $.ajax({
        url: url,
        type: type,
        data: data,
        success: function (response) {
          console.log(response);
          console.log("Ajax success on cart :)");
        }
      });


      $('.bg-modal').css("display", "none");
      $('.product').css("display", "none");
      //Make page not scrollable at that moment 
      $('body').css("overflow", "visible");
      $('html').css("overflow", "visible");



      // this causes the form not to submit 
      return false;
    });



    //ajax_form
    $('.ajax_form').on('submit', function () {

      console.log('running ajax_form submit');

  




      //store form in form variable
      var that = $(this),
        url = that.attr('action'),
        type = that.attr('method'),
        id = that.attr('id');
        data = {};

      



        
        
    
    


      //refresh cart if was here

      //find anything with attribute name
      that.find('[name]').each(function (index, value) {

        var that = $(this),
          name = that.attr('name'),
          value = that.val();


        data[name] = value;



      });

      if(id == 'signup')
        { 
          if(data['password'] != data['password2'])
          {
            console.log('passwords __DONT__ match');
            //592px
            $('.container-2').css('height','592px');
            $('#signup_pass_error').css('display','block');
            return false;
          }
          else
          {
            $('.container-2').css('height','554px');
            $('#signup_pass_error').css('display','none');
            //console.log($('#signup'));
            closesignin();
            console.log('passwords _____match__________');
          }
         // $('#signup-popup').css('display','none');
        
        }


      $.ajax({
        url: url,
        type: type,
        data: data,
        success: function (response) {
          if (id == 'login_form')
        {
          
        
          if(response.data == 'badlogin')
          {
            console.log('Ajax Form submit ________UNSUCCESSFUL LOGIN_______________!');
            $('.container-1').css('height','497px');
            $('#login_error').css('display','block');
            //document.getElementById('login-popup').style.display = "flex";
            //write code here to display red text for bad login
            //TODO: only close login window if good and also we can make the login and signin invisible and
            //make the page display the name
            //add logout button and watch express authentication video
            // make the signin visible.
            //also we cab say hello to the user somewhere on the page if we want....
            // next we need to make logout function....
            //TODO: Add Checkout button
          }
          else
          {
            //successful login
            $('.container-1').css('height','475px');
            $('#login_error').css('display','none');
            $('.container-login').css('display','none');
            closelogin();
            refresh_cart();

          }

        }
          console.log('____________RESPONSE___________________');
          console.log(response);
          console.log("Ajax success ");

          if (that.attr("id") == 'product_form') {
            console.log('is product form');
            //refresh cart when you add a new item
            refresh_cart();
            refresh_checkout();

          }
        }
      });

      ///TODO:   this is a problem need to fix will close cart.... 
      $('.bg-modal').css("display", "none");
      $('.product').css("display", "none");
      //Make page not scrollable at that moment 
      $('body').css("overflow", "visible");
      $('html').css("overflow", "visible");



      // this causes the form not to submit 
      return false;
    });


    $('#add_cart').click(() => {
      console.log('add item to cart');
      var buttonval = $('#add_cart').attr("value");
      console.log(buttonval);

    });

    
    

    function opencheckout(){
      $('.bg-modal').css('display','none');
      $('.bg-modal-checkout').css("display", "flex");
      //Make page not scrollable at that moment ?????
      $('body').css("overflow", "hidden");
      $('html').css("overflow", "hidden");
    }


 



    $('#cartPopup').click(() => {
      console.log('cart click');

      //cart click AJAX START

      $.ajax({
        url: 'customer/',
        type: 'POST',
        dataType: 'json', //will parse json into javascript object
        //callback called when suceed
        success: (data) => {
          console.log('ajax success!', data);
          refresh_checkout();

          var totalprice = parseFloat(0);
          var newCart = "";

          newCart += "<table class='table table-hover'";
          newCart += "<thead> <tr>";
          newCart += "<th>Product Name</th>";
          newCart += "<th>Description</th>";
          newCart += "<th>Price</th>";
          newCart += "<th>Action</th>";
          newCart += "</tr></thead>";
          newCart += "</tbody>";




          $.each(data, function (index, value) {

            newCart += "<tr>";
            newCart += "<td>" + this.product_name + "</td>";
            newCart += "<td>" + this.product_description + "</td>";
            newCart += "<td>" + "$" + this.price + "</td>";
            newCart += "<td>";
            newCart += "<form action='/remove' method='POST' class='remover' onSubmit='return ajax_FormSubmitter(this);'><button type='submit' class='btn btn-danger' name='remove' value='" + this.customer_order_id + "'>REMOVE ITEM</button></form>";

            newCart += "</td>";
            newCart += "</tr>";

            totalprice += parseFloat(this.price);

            //newCart += this.product_name;

          });// END LOOP

          //added
        var tax = 0;
          var tax = parseFloat(totalprice * .06);
          var total = tax + totalprice;


         //added
         newCart += "<tr>";
        newCart += "<td><strong>Cost</strong></td>";
        newCart += "<th><strong>Tax</strong></td>";
        newCart += "<td><strong>Total Price</strong></td>";
        newCart += "<td><strong>Action</strong></td>"
        newCart += "</tr>";
        newCart += "<tr> <td> $ " + totalprice.toFixed(2) +  "</td>";
        newCart += "<td> $" + tax.toFixed(2)  + " </td>";
        newCart += "<td> $" + total.toFixed(2)  + " </td>";
        newCart += "<td>"+  "<button type='button' class='btn btn-danger' onclick='checkout_run()' id='checkout' name='remove' value='" + this.customer_order_id +"'>CHECKOUT </button>" + "</td>";
        
        //added end

          newCart += "</tbody></table>";
          result = "";

          result = newCart;

          //select status id element display in html
          $('.edit').html(result);

        }//sucess data call

      });//ajax function call
      //CART CLICK AJAX END





      //cartpopup

      //$('#id').css("display","block")
      $('.bg-modal').css("display", "flex");
      //Make page not scrollable at that moment ?????
      $('body').css("overflow", "hidden");
      $('html').css("overflow", "hidden");

    });//cartPopup on click

    $('.close').click(() => {


      $('.bg-modal').css("display", "none");
      $('.product').css("display", "none");
      $('.bg-modal-checkout').css("display", "none");
      //Make page not scrollable at that moment ?????
      $('body').css("overflow", "visible");
      $('html').css("overflow", "visible");



    });//close_cartPopup




    $('#readButton').click(() => {
      console.log('read button clicked');

      $("#nameBox").val();



    });//readButton click method




    //This will select an element by id
    $('#allItemsButton').click(() => {
      //onclick
      $.ajax({
        url: 'products/',
        type: 'GET',
        dataType: 'json', //will parse json into javascript object
        //callback called when suceed
        success: (data) => {
          console.log('ajax success!', data);

          result = "<div class='w3-row-padding'>";

          //+

          for (var i = 0; i < data.length; i++) {

            price = "$" + data[i].price;
            result += "<div class='w3-col l3 m6 w3-margin-bottom'>";
            result += "<div class='w3-display-container'>";
            result += "<div class='w3-display-topleft w3-black w3-padding'>" + data[i].product_name + ' ' + price + "</div>";
            result += "<img  src='" + data[i].picture + "' class='tint' alt='" + data[i].product_name + "' style='width:100%'" + " value='" + data[i].product_id + "' onclick='item_popup(this)'>";
            result += "</div>";
            result += "</div>";
          }

          //+

          result += "</div>";
          //select status id element display in html
          $('#status').html(result);
        }//sucess data call
      });//ajax function call
    });//allItemsButton.click



  });//document

  function login(){
    document.getElementById('login-popup').style.display = "flex";
  }
  function closelogin(){
    document.getElementById('login-popup').style.display = "none";
  }
  function signin(){
    document.getElementById('signup-popup').style.display = "flex";
  }
  function closesignin(){
    document.getElementById('signup-popup').style.display = "none";
  }

  function validatepass(form)
  {
    console.log('validating signup');
    
     if($('#signup-pass-verify').val() == $('#signup-pass').val() && $('#signup-username') != "")
     {
       //make error class hidden
       document.getElementById('pass-signup-error').style.display = 'none';
       return true;
     }
     else
     {
       //make error case visible
       document.getElementById('pass-signup-error').style.display = 'block';
       return false;
     }

  }


</script>
<style>
  .bg-modal, .bg-modal-checkout,
  .product, .login-popup{
    width: 100%;
    height: 100%;
    /* make background behind popup transparent
     using RGBALPHA */
    background-color: rgba(0, 0, 0, 0.7);
    /* center make the position absolute*/
    position: absolute;
    /*before top: 0*/
    top: 0;
    /* center  horizontally*/
    justify-content: center;
    /* center  vertically*/
    align-items: center;
    display: none;
    position: fixed;
    top: calc(50% - width(100%));
    /* half of width*/
    left: calc(50% - height(100));
    /* half of height*/

  }






  .bg-modal-content, .bg-modal-content-checkout {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    /*make everything centered*/
    text-align: center;
    /*Make padding of 20px*/
    padding: 20px;
    /* Can position items relative to it*/
    /*position: relative;*/
    position: fixed;
    /*top: calc(50% - 150px);*/
    /* half of width*/
    /*left: calc(50% - 250px);*/
    /* half of height*/

  }

  .bg-modal-product-content, .login-content-popup{
    width: 500px;
    height: 392px;
    background-color: white;
    border-radius: 4px;
    /*make everything centered*/
    text-align: center;
    /*Make padding of 20px*/
    padding: 20px;
    /* Can position items relative to it*/
    /*position: relative;*/
    position: fixed;
    top: calc(50% - 150px);
    /* half of width*/
    left: calc(50% - 250px);
    /* half of height*/
  }

  input {
    /*This will making items not all fit on on line*/
    width: 50%;
    padding: 0;
    /* margin on top and bottom 15 but left right same*/
    margin: 15px auto;
    display: block;

  }

  .w3-display-container {
    border: solid black;
  }

  .error{
    color: red;
    display: none;
  }

  .close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    /*Rotation + sign*/
    transform: rotate(45deg);
    /*Make it a hand when hover over*/
    cursor: pointer;

  }

  table {
    background-color: white;
    font-size: calc(6px + 1vw);
    font-weight: 400;
  }

  .table-hover>tbody>tr:hover {
    background-color: #a5c2bd;
  }

  .table>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid rgb(2, 1, 3);
  }

  .container-login{
    text-align: center;
  }

  .container-login h1{
    color: white;
    font-size: 36px;
    margin-bottom: 40px;


  }

  .button-login{
    background: white;
    padding: 10px 15px;
    color: #34495e;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    transition: 0.4s;
  }

  .button-login:hover{
    background: #34495e;
    color: white;
  }


  input{
    margin: 20px auto;
    display: block;
    height: 65px;
    width: 50%;
    padding: 0px;
    border: 1px solid gray;
  }

  .close-2 {
    position: absolute;
    top: -15px;
    right: -15px;
    background: white;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border-radius:50px;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }

  .userpic{
    height: 50px;
    width: 50px;

  }

  button#allItemsButton {
    background-color: white;
    margin-left: 2%;
    margin-bottom: 2%;
}

button#allItemsButton:hover {
    background-color:  #34495e;
}

a:hover {
  text-decoration: none;
}

.signup-input {
  color: rgb(5, 5, 5);
  padding: 15px;
  height: 27px;
  margin: auto auto;
}

.container-2{
  top: calc(50% - 300px);
  height: 554px;
  position: relative;
  display: block;
  margin-bottom: 80px;
  width: 500px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}
.flex-container{
  justify-content: center;
}

img.tint:hover {
    opacity: .5;
    cursor: pointer;
}

.item_image{
  max-width: 241px;
  height: auto;
  box-shadow: 8px 7px 5px black;

}

.item_image:hover{
  opacity: .86;
}

button#add_cart {
    text-align: center;
    margin: 20px 109px;
}

.item_text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin-top: 12px;
  font-size: large;

}

.single_item_popup{
  height: 445px;
}

.single_item_button:hover{
  color: whitesmoke;
  background-color: rgb(32, 133, 151);

}


</style>

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>My</b> Store</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a id='cartPopup' class="w3-bar-item w3-button">Cart</a>
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <a href="#contact" class="w3-bar-item w3-button">Customer Service</a>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BLACK</b></span> <span
          class="w3-hide-small w3-text-light-grey">
    </div>
  </header>

  <div class="container-login">
    <h1></h1>
    <a href="#" class="button-login" onclick="login()">LOGIN</a>
    <a href="#" class="button-login" onclick="signin()">SIGN UP</a>
  </div>






  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Nakajima's Wonder Emporium Store</h3>
    </div>

   



     <div class="flex-container">
    <!-- Jquery button is here-->
    <button id="allItemsButton" class="button-login"> Show Items</button>
  </div>

    <!-- Jquery button is here-->

    <!--Display Jquery results this is temporary-->

    <div id="status">
    </div>
    <!--Jquery display temporary-->


    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>

    <div class="w3-row-padding w3-grayscale">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="../../images/deal1.jpg" alt="John" style="width:100%">
        <h3 >Feature Deal</h3>
        <p class="w3-opacity">BIG DEAL</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">BUY</button></p>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="../../images/deal2.jpg" alt="Jane" style="width:100%">
        <h3>Feature Deal</h3>
        <p class="w3-opacity">Big Deal</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">BUY</button></p>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="../../images/deal3.jpg" alt="Mike" style="width:100%">
        <h3>Feature Deal</h3>
        <p class="w3-opacity">Big Deal</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">BUY</button></p>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="../../images/deal4.jpg" alt="Dan" style="width:100%">
        <h3>Feature Deal</h3>
        <p class="w3-opacity">Big DEAL</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">BUY</button></p>
      </div>
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">SIGN UP FOR MEMBERSHIP</h3>
      <p>Lets get you apart of our store membership.</p>
      <form action="/action_page.php" target="_blank">
        <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
        <button class="w3-button w3-black w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> Register
        </button>
      </form>
    </div>

    <!-- Image of location/map -->
    <div class="w3-container">
      <img src="images/bottom.jpg" class="w3-image" style="width:100%">
    </div>

    <!-- End page content -->
  </div>
  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-16">
    <p>Contact Us At:<a href="#" title="W3.CSS" target="_blank" class="w3-hover-text-green">952-229-3342</a></p>
  </footer>


  <!-- Popup Cart Modal Section-->
  <div class="bg-modal">
    <div class="bg-modal-content" id="cart">
      <!-- We are using + instead of cross we will twist in css-->
      <div class="close">+</div>
      <div class="edit">
        <table class="table table-hover"> <tbody><tr><th>Product Name:</th><th>Description:</th><th>Price:</th><th>Action</th></tr></tbody><tbody><tr><td>The Rollable Phone</td><td>A phone that can roll open a bigger screen</td><td>$2999.99</td><td><form action="/remove" method="POST" class="remover" onsubmit="return ajax_FormSubmitter(this);"><button type="submit" class="btn btn-danger" name="remove" value="3">REMOVE ITEM</button></form></td></tr><tr><td>The Rollable Phone</td><td>A phone that can roll open a bigger screen</td><td>$2999.99</td><td><form action="/remove" method="POST" class="remover" onsubmit="return ajax_FormSubmitter(this);"><button type="submit" class="btn btn-danger" name="remove" value="4">REMOVE ITEM</button></form></td></tr><tr><td>Iphone 7S</td><td>A Sleek Iphone with a BIG attitude.</td><td>$199.99</td><td><form action="/remove" method="POST" class="remover" onsubmit="return ajax_FormSubmitter(this);"><button type="submit" class="btn btn-danger" name="remove" value="5">REMOVE ITEM</button></form></td></tr><tr><td>The Z Fold</td><td>A dynamically designed smart phone</td><td>$1999.99</td><td><form action="/remove" method="POST" class="remover" onsubmit="return ajax_FormSubmitter(this);"><button type="submit" class="btn btn-danger" name="remove" value="6">REMOVE ITEM</button></form></td></tr><tr><td>The Rollable Phone</td><td>A phone that can roll open a bigger screen</td><td>$2999.99</td><td><form action="/remove" method="POST" class="remover" onsubmit="return ajax_FormSubmitter(this);"><button type="submit" class="btn btn-danger" name="remove" value="7">REMOVE ITEM</button></form></td></tr></tbody></table>
        
      </div>
      </form>
    </div>
  </div> <!-- Popup Cart Modal Section END-->

<!-- Login popup start-->
  <div class="login-popup" id="login-popup">
      <!-- Login form-->
<div class="container-1">
  <h2>login</h2>
  <form action="/login" method="POST" class='ajax_form' id="login_form">
    <input type="text" class="email" name="username" placeholder="Username">
    <br/>
    <p class="error" id="login_error">ERROR: Invalid username or password.</p>
    <input type="password" class="pwd" name="password" placeholder="password">
 
  <a href="#" class="link">
    forgot your password ?
  </a>
  <br/>
  <button class="register">
    <span>EXIT</span>
  </button>
  <button  type="submit" class="signin">
    <span>SIGN IN</span>
  </button>
</form>
  <h3>your registration is complete !    </h3>
  <h3>your sign in is complete !</h3>
  <div class="reg"></div>
  <div class="sig"></div>
<div class="close" onclick="closelogin()">+</div>
</div>

<!--- Login Form-->
  </div>
  <!-- Login popup END-->


  <div class="login-popup" id="signup-popup">
    <div class="container-2">
      <h2>Sign Up</h2>
      <form action="/signup" method="POST" class='ajax_form' id="signup">
        <input type="text" class="email signup-input" name="first_name" placeholder="First Name">
        <br/>
        <input type="text" class="pwd signup-input" name="last_name" placeholder="Last Name">
        <br/>
        <input type="text" class="pwd signup-input" name="username" placeholder="Username">
        <br/>
        <p class="error" id="signup_pass_error">The passwords do not match.</p>
        <input type="password" class="pwd signup-input" name="password" placeholder="Password">
        <br/>
        <input type="password" class="pwd signup-input" name="password2" placeholder="Password Verification">
        <br/>
        <input type="text" class="pwd signup-input" name="cc_number" placeholder="Credit Card">
        <br/>
        <input type="text" class="pwd signup-input" name="address" placeholder="Address">
        
     
      <br/>
      <button class="register">
        <span>EXIT</span>
      </button>
      <button  type="submit" class="signin">
        <span>Register</span>
      </button>
    </form>
      <h3>your registration is complete !    </h3>
      <h3>your sign in is complete !</h3>
      <div class="reg"></div>
      <div class="sig"></div>
    <div class="close" onclick="closesignin()">+</div>
    </div>
  </div>

  <!-- Product Popup Modal -->
  <div class="product">
    <div class="bg-modal-product-content single_item_popup">
      <!-- We are using + instead of cross we will twist in css-->
      <div class="close">+</div>
      <div id='product_popup'>
        <img src="images/phone.jpg" alt="phone" height="100" width="50">
        <form action="/add_cart" method="POST" id="product_form" class='ajax_form'>
          <button type='submit' value='6' name='id' id="add_cart"> ADD TO CART </button>
        </form>
      </div>
    </div>
  </div> <!-- Popup product Modal Section END-->



  <!-- currently checkout will display with cart needs to be changed.... the class name....-->
  <!-- Popup Checkout Modal Section-->
  <div class="bg-modal-checkout">
    <div class="bg-modal-content-checkout" id="checkout">
      <!-- We are using + instead of cross we will twist in css-->
      <div class="close">+</div>
      <div class="editcheckout">
        <table class="table table-hover"> <tbody><tr><th>Product Name:</th><th>Description:</th><th>Price:</th><th>Action</th></tr></tbody><tbody><tr><td>The Rollable Phone</td><td>A phone that can roll open a bigger screen</td><td>$2999.99</td><td><form action="/remove" method="POST" class="remover" onsubmit="return ajax_FormSubmitter(this);"><button type="submit" class="btn btn-danger" name="remove" value="3">REMOVE ITEM</button></form></td></tr><tr><td>The Rollable Phone</td><td>A phone that can roll open a bigger screen</td><td>$2999.99</td><td><form action="/remove" method="POST" class="remover" onsubmit="return ajax_FormSubmitter(this);"><button type="submit" class="btn btn-danger" name="remove" value="4">REMOVE ITEM</button></form></td></tr><tr><td>Iphone 7S</td><td>A Sleek Iphone with a BIG attitude.</td><td>$199.99</td><td><form action="/remove" method="POST" class="remover" onsubmit="return ajax_FormSubmitter(this);"><button type="submit" class="btn btn-danger" name="remove" value="5">REMOVE ITEM</button></form></td></tr><tr><td>The Z Fold</td><td>A dynamically designed smart phone</td><td>$1999.99</td><td><form action="/remove" method="POST" class="remover" onsubmit="return ajax_FormSubmitter(this);"><button type="submit" class="btn btn-danger" name="remove" value="6">REMOVE ITEM</button></form></td></tr><tr><td>The Rollable Phone</td><td>A phone that can roll open a bigger screen</td><td>$2999.99</td><td><form action="/remove" method="POST" class="remover" onsubmit="return ajax_FormSubmitter(this);"><button type="submit" class="btn btn-danger" name="remove" value="7">REMOVE ITEM</button></form></td></tr></tbody></table>
        
      </div>
      </form>
    </div>
  </div> <!-- Popup Cart Modal Section END-->


</body>

</html>