<!DOCTYPE html>
<html>
<title>Cool Store</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">



  //refresh cart....
  function refresh_cart() {

    console.log('cart refresh');

    //cart click AJAX START

    $.ajax({
      url: 'customer/',
      type: 'POST',
      dataType: 'json', //will parse json into javascript object
      //callback called when suceed
      success: (data) => {
        console.log('ajax success!', data);


        var newCart = "";

        newCart += "<table class='table table-hover'";
        newCart += "<thead> <tr>";
        newCart += "<th>Product Name</th>";
        newCart += "<th>Description</th>";
        newCart += "<th>Price</th>";
        newCart += "<th>Action</th>";
        newCart += "</tr></thead>";
        newCart += "</tbody>";

        $.each(data, function (index, value) {

          newCart += "<tr>";
          newCart += "<td>" + this.product_name + "</td>";
          newCart += "<td>" + this.product_description + "</td>";
          newCart += "<td>" + "$" + this.price + "</td>";
          newCart += "<td>";
          newCart += "<form action='/remove' method='POST' onSubmit='return ajax_FormSubmitter(this);'><button type='submit' class='btn btn-danger' name='remove' value='" + this.customer_order_id + "'>REMOVE ITEM</button></form>";

          newCart += "</td>";
          newCart += "</tr>";

          //newCart += this.product_name;

        });// END LOOP

        newCart += "</tbody></table>";
        result = "";

        result = newCart;

        //select status id element display in html
        console.log('changed edit html');
        $('.edit').html(result);

      }//sucess data call
    });
  }

  function ajax_FormSubmitter(form) {

    console.log('running ajax form submit');


    //store form in form variable

    var $that = $(form);
    var that = $that;
    url = that.attr('action'),
      type = that.attr('method'),
      data = {};

    if (that.attr('class') == 'remover') {
      console.log('Is a remover button!!!');
      refresh_cart();

      //bg-modal
      $('.bg-modal').css("display", "none");
      $('body').css("overflow", "visible");
      $('html').css("overflow", "visible");

      $('.bg-modal').css("display", "flex");
      $('body').css("overflow", "hidden");
      $('html').css("overflow", "hidden");

      //Make page not scrollable at that moment 

    }

  



    //find anything with attribute name
    that.find('[name]').each(function (index, value) {

      var that = $(this),
        name = that.attr('name'),
        value = that.val();


      data[name] = value;
    });

    $.ajax({
      url: url,
      type: type,
      data: data,
      success: function (response) {
        console.log(response);
        console.log("Ajax success on cart :)");
        //use success callback to referesh cart
        refresh_cart();
        if (url == '/add_cart') {

          console.log('added_cart');
          $('.bg-modal').css("display", "none");
          $('.product').css("display", "none");
          //Make page not scrollable at that moment 
          $('body').css("overflow", "visible");
          $('html').css("overflow", "visible");

        }

      }
    });



    // this causes the form not to submit 
    return false;
  }



  function item_popup(item_element) {
    console.log("this is my element I clicked on");
    console.log(item_element);


    console.log("Outputting Item_element.value below: ");

    myitemvalue = item_element.getAttribute('value');
    //var product=document.getElementById('prod1').getAttribute('value');
    console.log(myitemvalue);

    $.ajax({
      url: 'single_item/',
      type: 'POST',
      data: { query_id: myitemvalue },
      success: function (response) {
        console.log(response);
        console.log("Ajax success on product_popup :)");
        //use success callback to referesh cart
        console.log(myitemvalue);


        //make result html here
        var popupinfo = "";

        popupinfo += "<img src='" + response[0].picture + "'alt ='" + response[0].product_name + "'height='100' width='50'>";
        popupinfo += "<form action='/add_cart' method='POST' onSubmit='return ajax_FormSubmitter(this);'>";
        popupinfo += "<button type='submit' value='" + response[0].product_id + "' name='id' id='add_cart'> Add To Cart</button> </form>";



        $('#product_popup').html(popupinfo);

        $('.product').css("display", "flex");
        //make page non-scrollable
        $('body').css("overflow", "hidden");
        $('html').css("overflow", "hidden");


      }
    });



    ////DO AJAX for SINGLE_ITEM


    //SUCCESS

    ///Make Box Show up...

    //no scroll

  }

  //anonymous function jquery
  $(document).ready(() => {




    //remove_form_for 
    $('.remove_form').on("submit", function () {



      console.log('running remove ajax_form submit');


      //store form in form variable
      var that = $(this),
        url = that.attr('action'),
        type = that.attr('method'),
        data = {};

      //find anything with attribute name
      that.find('[name]').each(function (index, value) {

        var that = $(this),
          name = that.attr('name'),
          value = that.val();

        data[name] = value;
      });

      $.ajax({
        url: url,
        type: type,
        data: data,
        success: function (response) {
          console.log(response);
          console.log("Ajax success on cart :)");
        }
      });


      $('.bg-modal').css("display", "none");
      $('.product').css("display", "none");
      //Make page not scrollable at that moment 
      $('body').css("overflow", "visible");
      $('html').css("overflow", "visible");



      // this causes the form not to submit 
      return false;
    });



    //ajax_form
    $('.ajax_form').on('submit', function () {

      console.log('running ajax_form submit');




      //store form in form variable
      var that = $(this),
        url = that.attr('action'),
        type = that.attr('method'),
        id = that.attr('id');
        data = {};


        if(id == 'signup')
        {
          console.log('is sign up form');
          $('#signup-popup').css('display','none');
        
        }


      //refresh cart if was here

      //find anything with attribute name
      that.find('[name]').each(function (index, value) {

        var that = $(this),
          name = that.attr('name'),
          value = that.val();


        data[name] = value;



      });


      $.ajax({
        url: url,
        type: type,
        data: data,
        success: function (response) {
          console.log(response);
          console.log("Ajax success on cart :)");

          if (that.attr("id") == 'product_form') {
            console.log('is product form');
            //refresh cart when you add a new item
            refresh_cart();

          }
        }
      });

      ///TODO:   this is a problem need to fix will close cart.... 
      $('.bg-modal').css("display", "none");
      $('.product').css("display", "none");
      //Make page not scrollable at that moment 
      $('body').css("overflow", "visible");
      $('html').css("overflow", "visible");



      // this causes the form not to submit 
      return false;
    });


    $('#add_cart').click(() => {
      console.log('add item to cart');
      var buttonval = $('#add_cart').attr("value");
      console.log(buttonval);

    });



    $('#cartPopup').click(() => {
      console.log('cart click');

      //cart click AJAX START

      $.ajax({
        url: 'customer/',
        type: 'POST',
        dataType: 'json', //will parse json into javascript object
        //callback called when suceed
        success: (data) => {
          console.log('ajax success!', data);


          var newCart = "";

          newCart += "<table class='table table-hover'";
          newCart += "<thead> <tr>";
          newCart += "<th>Product Name</th>";
          newCart += "<th>Description</th>";
          newCart += "<th>Price</th>";
          newCart += "<th>Action</th>";
          newCart += "</tr></thead>";
          newCart += "</tbody>";




          $.each(data, function (index, value) {

            newCart += "<tr>";
            newCart += "<td>" + this.product_name + "</td>";
            newCart += "<td>" + this.product_description + "</td>";
            newCart += "<td>" + "$" + this.price + "</td>";
            newCart += "<td>";
            newCart += "<form action='/remove' method='POST' class='remover' onSubmit='return ajax_FormSubmitter(this);'><button type='submit' class='btn btn-danger' name='remove' value='" + this.customer_order_id + "'>REMOVE ITEM</button></form>";

            newCart += "</td>";
            newCart += "</tr>";

            //newCart += this.product_name;

          });// END LOOP

          newCart += "</tbody></table>";
          result = "";

          result = newCart;

          //select status id element display in html
          $('.edit').html(result);

        }//sucess data call

      });//ajax function call
      //CART CLICK AJAX END





      //$('#id').css("display","block")
      $('.bg-modal').css("display", "flex");
      //Make page not scrollable at that moment ?????
      $('body').css("overflow", "hidden");
      $('html').css("overflow", "hidden");

    });//cartPopup on click

    $('.close').click(() => {


      $('.bg-modal').css("display", "none");
      $('.product').css("display", "none");
      //Make page not scrollable at that moment ?????
      $('body').css("overflow", "visible");
      $('html').css("overflow", "visible");



    });//close_cartPopup




    $('#readButton').click(() => {
      console.log('read button clicked');

      $("#nameBox").val();



    });//readButton click method




    //This will select an element by id
    $('#allItemsButton').click(() => {
      //onclick
      $.ajax({
        url: 'products/',
        type: 'GET',
        dataType: 'json', //will parse json into javascript object
        //callback called when suceed
        success: (data) => {
          console.log('ajax success!', data);

          result = "<div class='w3-row-padding'>";

          //+

          for (var i = 0; i < data.length; i++) {
            result += "<div class='w3-col l3 m6 w3-margin-bottom'>";
            result += "<div class='w3-display-container'>";
            result += "<div class='w3-display-topleft w3-black w3-padding'>" + data[i].product_name + "</div>";
            result += "<img  src='" + data[i].picture + "' alt='" + data[i].product_name + "' style='width:100%'" + " value='" + data[i].product_id + "' onclick='item_popup(this)'>";
            result += "</div>";
            result += "</div>";
          }

          //+

          result += "</div>";
          //select status id element display in html
          $('#status').html(result);
        }//sucess data call
      });//ajax function call
    });//allItemsButton.click



  });//document

  function login(){
    document.getElementById('login-popup').style.display = "flex";
  }
  function closelogin(){
    document.getElementById('login-popup').style.display = "none";
  }
  function signin(){
    document.getElementById('signup-popup').style.display = "flex";
  }
  function closesignin(){
    document.getElementById('signup-popup').style.display = "none";
  }

  function validatepass(form)
  {
    console.log('validating signup');
    
     if($('#signup-pass-verify').val() == $('#signup-pass').val() && $('#signup-username') != "")
     {
       //make error class hidden
       document.getElementById('pass-signup-error').style.display = 'none';
       return true;
     }
     else
     {
       //make error case visible
       document.getElementById('pass-signup-error').style.display = 'block';
       return false;
     }

  }


</script>
<style>
  .bg-modal,
  .product, .login-popup{
    width: 100%;
    height: 100%;
    /* make background behind popup transparent
     using RGBALPHA */
    background-color: rgba(0, 0, 0, 0.7);
    /* center make the position absolute*/
    position: absolute;
    /*before top: 0*/
    top: 0;
    display: flex;
    /* center  horizontally*/
    justify-content: center;
    /* center  vertically*/
    align-items: center;
    display: none;
    position: fixed;
    top: calc(50% - width(100%));
    /* half of width*/
    left: calc(50% - height(100));
    /* half of height*/

  }






  .bg-modal-content {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    /*make everything centered*/
    text-align: center;
    /*Make padding of 20px*/
    padding: 20px;
    /* Can position items relative to it*/
    /*position: relative;*/
    position: fixed;
    /*top: calc(50% - 150px);*/
    /* half of width*/
    /*left: calc(50% - 250px);*/
    /* half of height*/

  }

  .bg-modal-product-content, .login-content-popup{
    width: 500px;
    height: 350px;
    background-color: white;
    border-radius: 4px;
    /*make everything centered*/
    text-align: center;
    /*Make padding of 20px*/
    padding: 20px;
    /* Can position items relative to it*/
    /*position: relative;*/
    position: fixed;
    top: calc(50% - 150px);
    /* half of width*/
    left: calc(50% - 250px);
    /* half of height*/
  }

  input {
    /*This will making items not all fit on on line*/
    width: 50%;
    padding: 0;
    /* margin on top and bottom 15 but left right same*/
    margin: 15px auto;
    display: block;

  }

  .w3-display-container {
    border: solid black;
  }

  .error{
    color: red;
    display: none;
  }

  .close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    /*Rotation + sign*/
    transform: rotate(45deg);
    /*Make it a hand when hover over*/
    cursor: pointer;

  }

  table {
    background-color: white;
    font-size: calc(6px + 1vw);
    font-weight: 400;
  }

  .table-hover>tbody>tr:hover {
    background-color: #a5c2bd;
  }

  .table>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid rgb(2, 1, 3);
  }

  .container-login{
    text-align: center;
  }

  .container-login h1{
    color: white;
    font-size: 36px;
    margin-bottom: 40px;


  }

  .button-login{
    background: white;
    padding: 10px 15px;
    color: #34495e;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    transition: 0.4s;
  }

  .button-login:hover{
    background: #34495e;
    color: white;
  }


  input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 0px;
    border: 1px solid gray;
  }

  .close-2 {
    position: absolute;
    top: -15px;
    right: -15px;
    background: white;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border-radius:50px;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }

  .userpic{
    height: 50px;
    width: 50px;

  }

</style>

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>My</b> Store</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a id='cartPopup' class="w3-bar-item w3-button">Cart</a>
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <a href="#contact" class="w3-bar-item w3-button">Customer Service</a>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BLACK</b></span> <span
          class="w3-hide-small w3-text-light-grey">Cool/span></h1>
    </div>
  </header>

  <div class="container-login">
    <h1>Popup LOGIN</h1>
    <a href="#" class="button-login" onclick="login()">LOGIN</a>
    <a href="#" class="button-login" onclick="signin()">SIGN UP</a>
  </div>



  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Nakajima's Wonder Emporium Store</h3>
    </div>




    <!-- Jquery button is here-->
    <button id="allItemsButton" class="button-login"> Show Items</button>

    <!-- Jquery button is here-->

    <!--Display Jquery results this is temporary-->

    <div id="status">
    </div>
    <!--Jquery display temporary-->


    <div class="w3-row-padding">


      <div class="w3-col l3 m6 w3-margin-bottom">
        <!-- When they click on this div display container then they get modal popup -->
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Phone 0</div>
          <img src="images/phone.jpg" alt="House" style="width:100%" id="test1" onclick="item_popup(this)" value='4'>
        </div>
      </div>


      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Phone 1</div>
          <img src="../../images/phone.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Phone2</div>
          <img src="/images/phone.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Phone3</div>
          <img src="/images/phone.jpg" alt="House" style="width:100%">
        </div>
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Iphone 6</div>
          <img src="/images/phone.jpg" alt="House" style="width:99%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Iphone 7</div>
          <img src="/images/phone.jpg" alt="House" style="width:99%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Iphone 8</div>
          <img src="/images/phone.jpg" alt="House" style="width:99%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Iphone 9</div>
          <img src="images/phone.jpg" alt="House" style="width:99%">
        </div>
      </div>
    </div>

    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>

    <div class="w3-row-padding w3-grayscale">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="../../images/phone.jpg" alt="John" style="width:100%">
        <h3>Feature Deal</h3>
        <p class="w3-opacity">BIG DEAL</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">BUY</button></p>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="../../images/phone.jpg" alt="Jane" style="width:100%">
        <h3>Feature Deal</h3>
        <p class="w3-opacity">Big Deal</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">BUY</button></p>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="../../images/phone.jpg" alt="Mike" style="width:100%">
        <h3>Feature Deal</h3>
        <p class="w3-opacity">Big Deal</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">BUY</button></p>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="../../images/phone.jpg" alt="Dan" style="width:100%">
        <h3>Feature Deal</h3>
        <p class="w3-opacity">Big DEAL</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">BUY</button></p>
      </div>
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">SIGN UP FOR MEMBERSHIP</h3>
      <p>Lets get you apart of our store membership.</p>
      <form action="/action_page.php" target="_blank">
        <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
        <button class="w3-button w3-black w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> Register
        </button>
      </form>
    </div>

    <!-- Image of location/map -->
    <div class="w3-container">
      <img src="images/phone.jpg" class="w3-image" style="width:100%">
    </div>

    <!-- End page content -->
  </div>


  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-16">
    <p>POWER ME UP <a href="#" title="W3.CSS" target="_blank" class="w3-hover-text-green">Cool Footer</a></p>
  </footer>


  <!-- Popup Cart Modal Section-->
  <div class="bg-modal">
    <div class="bg-modal-content" id="cart">
      <!-- We are using + instead of cross we will twist in css-->
      <div class="close">+</div>
      <div class="edit"></div>
      </form>
    </div>
  </div> <!-- Popup Cart Modal Section END-->

  <div class="login-popup" id="login-popup">
    <div class="login-content-popup">
      <img src="images/user.jpg" alt="User" class='userpic'>
      <form action="/login" method="POST" class="ajax_form">
     <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <button type="submit" class="button-login">Login</button>
    </form>
      <!-- We are using + instead of x we will twist in css-->
      <div class="close" onclick="closelogin()">+</div>
      </form>
    </div>
  </div>


  <div class="login-popup" id="signup-popup">
    <div class="login-content-popup">
      <img src="images/user.jpg" alt="User" class='userpic'>
    <form action="/signup" method="POST" class='ajax_form' id="signup">
    <input type="text" placeholder="First Name" name="first_name">
    <input type="text" placeholder="Last Name" name="last_name">
    <input type="text" placeholder="Username" name="username">
    <p class="error" id="pass-signup-error">Passwords Do Not Match</p>
    <input type="password" name=password placeholder="Password" id="signup-pass">
    <input type="password" name="password2" placeholder="Password Verification" id="signup-pass-verify">
    <input type="text" name="cc_number" placeholder="Credit Card #">
    <input type="text" name="address" placeholder="Address">
    <button type="submit" class="button-login">Sign Up</button>
  </form>
      
      <!-- We are using + instead of x we will twist in css-->
      <div class="close" onclick="closesignin()">+</div>
      </form>
    </div>
  </div>



  <!-- Product Popup Modal -->
  <div class="product">
    <div class="bg-modal-product-content">
      <!-- We are using + instead of cross we will twist in css-->
      <div class="close">+</div>
      <div id='product_popup'>
        <img src="images/phone.jpg" alt="phone" height="100" width="50">
        <form action="/add_cart" method="POST" id="product_form" class='ajax_form'>
          <button type='submit' value='6' name='id' id="add_cart"> ADD TO CART </button>
        </form>
      </div>
    </div>
  </div> <!-- Popup product Modal Section END-->









</body>

</html>